<?xml version="1.0" encoding="UTF-8"?>
<!--
    # Copyright 2016 WSO2 Inc. (http://wso2.org)
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    # http://www.apache.org/licenses/LICENSE-2.0
    #
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
-->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Netrics-Core-Test-Suite" parallel="none">
    <!-- Server port for internal server. Random: 3×16×8×27×5 -->
    <parameter name="server-port" value="51840"/>
    <test name="Metrics-Core-Unit-Test">
        <classes>
            <class name="org.wso2.carbon.metrics.core.MetricsConfigTest"/>
            <class name="org.wso2.carbon.metrics.core.GaugeTest"/>
            <class name="org.wso2.carbon.metrics.core.CounterTest"/>
            <class name="org.wso2.carbon.metrics.core.MeterTest"/>
            <class name="org.wso2.carbon.metrics.core.HistogramTest"/>
            <class name="org.wso2.carbon.metrics.core.TimerTest"/>
            <class name="org.wso2.carbon.metrics.core.MetricServiceTest"/>
            <class name="org.wso2.carbon.metrics.core.MetricManagerApiTest"/>
            <class name="org.wso2.carbon.metrics.core.ReporterTest"/>
            <class name="org.wso2.carbon.metrics.core.JdbcCleanupTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.wso2.carbon.metrics.core.TestMethodListener" />
    </listeners>
</suite>
